@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  margin:0;  
  padding:0;
  box-sizing:border-box;
}   

body{
  background:#0b0e14;      
  height:100vh;
  display:grid;
  place-items:center;
}

.container{
  height:700px;
  width:700px;
  position:relative;
  animation:spinPause 13s infinite linear;
}


.container div:nth-child(1){
  height:150px;              
  width:150px;
  background-image:linear-gradient(45deg,#31f7abfa,#00c896);
  position:absolute;
  top:200px;
  left:200px;
  box-shadow:0 0 6px #31f7abfa;
  border-radius:50%;
  animation:move 1.5s infinite;
}

@keyframes move{
  50%{
    transform:translate(-60px,-60px) scale(0.3);      
  }        
}

.container div:nth-child(2){
  height:90px;
  width:90px;
  background-image:linear-gradient(45deg,#329dfc,#31e8f1);
  position:absolute;
  top:210px;
  right:220px;
  box-shadow:0 0 4px #329dfc;
  border-radius:50%;
  animation:move2 1.5s infinite;
}

@keyframes move2{
  50%{
    transform:translate(30px,-40px) scale(0.55);      
  }        
}

.container div:nth-child(3){
  height:150px;
  width:150px;
  background-image:linear-gradient(45deg,#ff4520,#c5216b);
  position:absolute;
  bottom:200px;
  right:200px;
  box-shadow:0 0 6px #ff4520;
  border-radius:50%;
  animation:move3 1.5s infinite;
}

@keyframes move3{
  50%{
    transform:translate(60px,60px) scale(0.3);      
  }        
}


.container div:nth-child(4){
  height:90px;
  width:90px;
  background-image:linear-gradient(45deg,#430c74,#492297);
  position:absolute;
  bottom:210px;
  left:220px;
  box-shadow:0 0 4px #430c74;
  border-radius:50%;
  animation:move4 1.5s infinite;
}

@keyframes move4{
  50%{
    transform:translate(-30px,40px) scale(0.55);
  }
}


@keyframes spin{
  100%{
    transform:rotate(360deg);       
  }        
}
@keyframes spinPause{
  0%{
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(360deg);
  }
  75%{
    transform:rotate(360deg); 
  }
  100%{
    transform:rotate(720deg);
  }
}
.magic{
  position:absolute;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:70px;
  font-weight:500px;
   font-family: "Lobster", sans-serif;
  letter-spacing:6px;
  text-transform:uppercase;
  color:#ffffff;
  opacity:0;
  transform:scale(0.6);
  pointer-events:none;

  animation:magicAppear 10s infinite ease-in-out;
}

@keyframes magicAppear{
  0%,10%{
    opacity:0;
    transform:scale(0.6);
  }

  30%{
    opacity:1;
    transform:scale(1); 
  }

  75%{
    opacity:1;
    transform:scale(1);
  }

  85%,100%{
    opacity:0;
    transform:scale(0.6);
  }
}

